.gridWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="gridItem"] {
    width: 50%;
    /* background-color: red; */
    height: 41vh;
    position: relative;
}

.gridItem3 {
    width: 100%;
}

/* [class*="gridItem"]:nth-of-type(2) {
    background-color: blue;
} */

[class*="gridItem"]:nth-of-type(2) img {
    width: 40%;
    position: absolute;
    right: 100px;
    top: 0;
}

/* [class*="gridItem"]:nth-of-type(3) {
    background-color: green;

}

[class*="gridItem"]:nth-of-type(4) {
    background-color: yellow;

} */

.gridItem1 p {
    margin: 1em 0;
}

span.horizontal-line1 {
    border-bottom: 1px solid white;
    width: 408px;
    height: 1px;
    position: absolute;
    bottom: 63px;
    left: 9px;
}

.horizontal-line2 {
    border-bottom: 1px solid white;
    width: 493px;
    height: 1px;
    position: absolute;
    bottom: 45px;
    left: -17px;
}

.horizontal-line3 {
    border-bottom: 1px solid white;
    width: 569px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: -41px;
}

span.vertical-line1 {
    border-left: 1px solid white;
    height: 79px;
    position: absolute;
    bottom: 1px;
    left: 4px;
    transform: rotate(53deg);
}

span.vertical-line2 {
    border-left: 1px solid white;
    height: 68px;
    position: absolute;
    bottom: 0px;
    left: 67px;
    transform: rotate(32deg);
}

span.vertical-line3 {
    border-left: 1px solid white;
    height: 70px;
    position: absolute;
    bottom: -6px;
    left: 142px;
    transform: rotate(0deg);
}

span.vertical-line4 {
    border-left: 1px solid white;
    height: 76px;
    position: absolute;
    bottom: -6px;
    left: 226px;
    transform: rotate(-32deg);
}

span.vertical-line5 {
    border-left: 1px solid white;
    height: 84px;
    position: absolute;
    bottom: -3px;
    left: 306px;
    transform: rotate(-53deg);
}

span.vertical-line6 {
    border-left: 1px solid white;
    height: 104px;
    position: absolute;
    bottom: -10px;
    left: 414px;
    transform: rotate(-66deg);
}
/* .sunset-svg {} */

.sunset-fade-enter {
    opacity: 0;
}

.sunset-fade-enter-active {
    opacity: 1;
    transition: opacity 12s, animation 4s;
    animation-name: rising-sun;
    animation-duration: 4s;
}

.sunset-fade-exit {
    opacity: 1;
}

.sunset-fade-exit-active {
    opacity: 0;
    transition: opacity 4s, transform 1s;
}

.sunset-fade-exit-done{
    opacity: 0;
}

@keyframes rising-sun {
        from {
            transform: translateY(200px)
        }
        to {
            transform: translateY(0px);
        }
}

/* Motorbike go broom broom */

.motorcycle-wrap{
    position: absolute;
    bottom: 0;
}

.motorcycle-wrap svg{
    width: 100px;
    height: 100px;
    transform: translateX(-200px)
}

.motorcycle-ride-enter {
    opacity: 1;
}

.motorcycle-ride-enter-active {
    opacity: 1;
    transition: animation 4s;
    animation-name: ride-right;
    animation-duration: 6s;
    animation-delay: 4s;
}

.motorcycle-ride-enter-done{
    opacity: 1;
    transform: translateX(89vw);
}

.motorcycle-ride-exit {
    opacity: 1;
    transform: translateX(89vw);
}

.motorcycle-ride-exit-active {
    opacity: 1;
    transition: transform 1s;
}

.motorcycle-ride-exit-done{
    transform: translateX(89vw);
}

@keyframes ride-right {
        from {
            transform: translateX(-10vw)
        }
        to {
            transform: translateX(89vw);
        }
}

/* Streetlights*/

.streetlight-wrap{
    position: absolute;
    bottom: 80px;
}

.streetlight-wrap-1 {
    width: 100px;
    height: 88px;
    left: 35vw;
}

.streetlight-wrap-2 {
    width: 100px;
    height: 88px;
    left: 55vw;
}

.streetlight-wrap-3 {
    width: 100px;
    height: 88px;
    left: 75vw;
}

.streetlight-wrap svg{
    width: 100px;
    height: 88px;
}


/* 1st Light-------------------------------------------------------- */
.streetlight-1-enter {
    opacity: 0;
}

.streetlight-1-enter-active {
    opacity: 0;
    transition: animation;
    animation-name: streetlight-appear;
    animation-duration: 7s;
    animation-delay: 5s;
}

.streetlight-1-enter-done{
    opacity: 1;
}

.streetlight-1-exit {
    opacity: 1;
}

.streetlight-1-exit-active {
    opacity: 1;
}

.streetlight-1-exit-done{
}

/* 2nd Light-------------------------------------------------------- */
.streetlight-2-enter {
    opacity: 0;
}

.streetlight-2-enter-active {
    opacity: 0;
    transition: animation;
    animation-name: streetlight-appear;
    animation-duration: 6s;
    animation-delay: 6s;
}

.streetlight-2-enter-done{
    opacity: 1;
}

.streetlight-2-exit {
    opacity: 1;
}

.streetlight-2-exit-active {
    opacity: 1;
}

.streetlight-2-exit-done{
}

/* 3rd Light-------------------------------------------------------- */
.streetlight-3-enter {
    opacity: 0;
}

.streetlight-3-enter-active {
    opacity: 0;
    transition: animation;
    animation-name: streetlight-appear;
    animation-duration: 4.5s;
    animation-delay: 7.5s;
}

.streetlight-3-enter-done{
    opacity: 1;
}

.streetlight-3-exit {
    opacity: 1;
}

.streetlight-3-exit-active {
    opacity: 1;
}

.streetlight-3-exit-done{
}

@keyframes streetlight-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}