@import-normalize;

body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
    position: relative;
}

.background-scrim {
    /* background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    margin: 0;
}

::selection {
    background-color: #fff;
}

figure {
    margin: 0;
}

@media only screen and (max-width: 840px) {
    body {
        margin: 0;
        overflow-x: hidden;
    }

    #root {
        padding: 0;
        margin: 15px;
    }

    nav {
        overflow-x: auto;
    }

    .gridWrap {
        flex-direction: column;
        flex-wrap: unset;
    }

    [class*="gridItem"] {
        width: unset;
    }
}